<html style="text-align: center;">
    <head>
        <title>Housing Prices</title>
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body style="display: inline;">
        <div>
            <h1>Housing Statistics</h1>
        </div>
        <form method="POST" action ="/query">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 align-self-center">
                        <label for="county">County:</label>
                    </div>
                    <div class="col-lg-10">
                        <select name="county" id="county">
                            <option th:each="county : ${counties}"
                                th:value="${county}"
                                th:text="${county}"
                                th:selected="${county}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="type">Property Type:</label>
                    </div>
                    <div class="col-lg-10">
                        <select name="type" id="type">
                            <option value="house">house</option>
                            <option value="apartment">apartment</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="sDate">Start Date: (YYYY-MM-DD)</label>
                    </div>
                    <div class="col-lg-10">
                        <input name="sDate" id="sDate">
                    </div>
                </div> 
                <div class="row">
                    <div class="col-lg-2">
                        <label for="eDate">End Date: (YYYY-MM-DD)</label>
                    </div>
                    <div class="col-lg-10">
                        <input name="eDate" id="eDate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="minPrice">Min Price:</label>
                    </div>
                    <div class="col-lg-10">
                        <input name="minPrice" id="minPrice">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="maxPrice">Max Price:</label>
                    </div>
                    <div class="col-lg-10">
                        <input name="maxPrice" id="maxPrice" placeholder="800000">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
